.hero-img{
    background-color:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
 footer{
     padding: 20px;
     /* margin-top: 20px; */
     color: #ffff;
     background:#e8491d;
     text-align: center;
 }
 /*Media Queries*/
 @media(max-width:768px){
 }